.all-member-report-utmost-container-section{
    font-family: 'Montserrat';
}

.all-member-report-header-title-container-div{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    color: rgb(80, 80, 80);
}

.all-member-report-total-member-table-container{
    margin: auto;
    width: 60%;
    margin-bottom: 50px;
}

.all-member-report-table-head{
    background-color: rgb(50, 110, 110);
    padding: 10px;
    width: 400px;
    color: beige;
}

.all-member-report-table-data{
    background-color: rgb(220, 220, 220);
    color: rgb(20, 20, 20);
    padding: 15px;
}

.all-member-report-download-pdf-container-div{
    text-align: center;
    margin: 20px;
}

.all-member-report-download-pdf{
    background-color: rgba(100, 150, 150, 0.8);
    font-family: 'Montserrat';
    color: beige;
    text-decoration: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border: solid 1px rgb(150, 200, 200);
}
