/* member_brgy.html */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.brgy-profile-brgy-header-title-div{
    font-family:'Montserrat';
    position:fixed;
    z-index:1;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 50, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    width: 77%;
}

.brgy-edit-profile-toggle-btn{
    float: right;
    cursor: pointer;
}

.brgy-edit-profile-toggle-btn{
    color: rgb(100, 100, 100);
}

.brgy-profile-brgy-header-title{
    font-family: 'Montserrat';
    font-weight: 800;
}

.brgy-profile-field-div{
    display: none;
}

.brgy-name-visibility{
    display: none
}

.brgy-name-field-visibility{
    display: block;
}

.brgy-profile-save-changes-btn{
    display: none;
}

.brgy-save-btn-visibility{
    display: block;
}

.brgy-profile-edit-form-barangay-data-container{
    font-family:'Montserrat';
    position:fixed;
    z-index:15;
    top:-500px;
    right:0;
    transition:0.5s;
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.brgy-profile-edit-form-header-title-div{
    background-color: rgb(10, 40, 40);
    padding: 10px;
    color: beige;
}

.brgy-profile-hide-edit-form-btn{
    float: right;
    cursor: pointer;
}

.brgy-profile-edit-form-container-div{
    padding: 10px;
}

.brgy-profile-label{
    font-weight: 800;
}

.show-brgy-edit-profile-toggle{
    top:0px;
}

.brgy-profile-brgy-details-container-div{
    margin-top:50px;
}

.brgy-profile-product-data-div{
    margin-left: 20px;
    color: rgb(10, 10, 10);
}

.brgy-profile-field-div{
    margin-left: 20px;
}

.brgy-profile-edit-btn-div{
    cursor: pointer;
    color: rgb(100, 100, 100);
    float: right;
}

.brgy-profile-edit-field{
    border: none;
    background: none;
    border-bottom: 1px solid rgb(100, 100, 100);
    margin: 0;
}

.brgy-profile-edit-field:focus{
    outline: none;
}

.brgy-profile-brgy-name-showcase-div{
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding: 50px;
    background-color: rgb(255, 255,255);
    margin-top: -20px;
    color: rgb(90, 90, 90);
}

.brgy-profile-showcase-underline{
    padding: 1px;
    background-image: linear-gradient(to right, rgb(10, 10, 10), rgba(255,0,0,0), rgb(10, 10, 10));
}

.brgy-profile-brgy-details-block-container-div{
    text-align: center;
    margin-top: 20px;
}

.brgy-profile-showcase-details-block-div{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 10px;
}

.brgy-profile-details-block-header-title{
    background-color: rgb(10, 40, 40);
    font-family: 'Montserrat';
    font-weight: 800;
    color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brgy-profile-details-div{
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
}

.brgy-profile-empty-detail-notifier{
    color: rgb(150, 150, 150);
    font-family: 'Impact';
    font-size: 20px;
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    margin-right: 50px;
}

.brgy-profile-brgy-showcase-container-div{
    padding-top: 80px;
    padding-bottom: 80px;
}

.brgy-profile-data-detail{
    margin: 10px;
    width: 87%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.brgy-profile-link-page{
    text-decoration: none;
    font-family: 'Montserrat';
}

.brgy-profile-data-detail{
    text-decoration: none;
    font-family: 'Montserrat';
}

.brgy-profile-link-page:hover{
    text-decoration: underline;
}

.brgy-profile-analytics-block-container-div{
    text-align: center;
}

.brgy-profile-analytics-block-div{
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat';
    width: 250px;
}

.brgy-profile-analytics-block-title{
    font-weight: 800;
    color: rgb(80, 80, 80);
}

.brgy-profile-analytics-coordinate-div{
    display: inline-block;
}

.brgy-profile-analytics-data{
    font-size: 20px;
}

.brgy-profile-details-title-header-div{
    font-family: 'Montserrat';
    color: rgb(50, 50, 50);
    font-size: 30px;
    margin: 50px;
}

.brgy-profile-brgy-clusters-container-div{
    text-align: center;
}

.brgy-profile-cluster-title-header-div{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 30px;
    color: rgb(50, 50, 50);
    margin: 50px;
}

.brgy-profile-cluster-block-div{
    display: inline-block;
    vertical-align: top;
    width: 320px;
    margin: 10px;
}

.brgy-profile-cluster-leader-header{
    background-color: rgb(10, 40, 40);
    color: beige;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Montserrat';
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brgy-profile-cluster-members-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
}

.brgy-profile-empty-member-cluster-notifier{
    color: rgb(150, 150, 150);
    font-family: 'Impact';
    font-size: 20px;
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
    margin-right: 50px;
}