/* change_password.html */

body{
    background-color: rgb(10, 40, 40);

}

.change-password-title-heading-div{
    text-align: center;
    color: beige;
    text-transform: uppercase;
    font-family: Lato, 'Montserrat';
    margin-top: 30px;
    letter-spacing: 2px;
}

.change-password-form-container-div{
    background-color: rgba(100, 200, 200, 0.3);
    border: 1px solid rgb(100, 200, 200);
    margin: auto;
    margin-top: 40px;
    width: 40%;
    height: 270px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.change-password-field{
    margin-top: 20px;
    width: 90%;
    height: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.change-password-field:focus{
    outline: none;
}

.change-password-btn{
    background-color: rgba(100, 200, 200, 0.4);
    color: beige;
    border: 1px solid rgb(100, 200, 200);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Lato, 'Montserrat';
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.7s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.change-password-btn:hover{
    box-shadow: rgba(200, 200, 200, 0.5) 0px 5px 15px;
}
