/* forgot_password.html */

body{
    background-color: rgb(10, 40, 40);

}

.forgot-password-title-heading-div{
    text-align: center;
    color: beige;
    text-transform: uppercase;
}

.forgot-password-form-container-div{
    background-color: rgba(100, 200, 200, 0.3);
    border: 1px solid rgb(100, 200, 200);
    margin:auto;
    margin-top: 100px;
    width: 50%;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.forgot-password-field{
    border: none;
    width: 400px;
    height: 18px;
    padding: 10px;
    border-radius: 10px;
}

.forgot-password-field:focus{
    outline: none;
}

.forgot-password-send-email-btn{
    background-color: rgb(100, 200, 200, 0.5);
    border: 1px solid rgb(100, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: beige;
    font-family: Lato, 'Montserrat';
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.7s ease;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.forgot-password-send-email-btn:hover{
    box-shadow: rgba(255, 255, 255, 0.3) 0px 5px 15px;
}