.leaders-report-utmost-container-section{
    font-family: 'Montserrat';
}

.leader-report-title-header-div{
    text-align: center;
    font-weight: 800;
    margin: 40px;
    font-size: 30px;
    color: rgb(100, 100, 100);
}

.leader-report-table-container-div{
    margin: auto;
    width: 70%;
}

.leader-report-table-head{
    width: 300px;
    background-color: rgb(80, 160, 160);
    color: beige;
    padding: 10px;
}

.leader-report-table-data{
    background-color: rgb(200, 200, 200);
    padding: 10px;
}

.leaders-report-download-pdf-container-div{
    margin: 20px;
    text-align: center;
}

.leaders-report-download-pdf{
    background-color: rgba(100, 150, 150, 0.8);
    font-family: 'Montserrat';
    color: beige;
    text-decoration: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border: solid 1px rgb(150, 200, 200);
}
