.no-member-leaders-table{
    font-family: 'Montserrat';
}

.no-member-leaders-table-head{
    background-color: rgb(70, 140, 140);
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: beige;
}

.no-member-leaders-table-data{
    background-color: rgb(220, 220, 220);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.no-member-leaders-table-link{
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.no-member-leaders-table-link:hover{
    text-decoration: underline;
}

.no-member-leaders-table-container-div{
    margin: auto;
    width: fit-content;
}

.no-member-leaders-title-header-div{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    margin: 20px;
}

.no-member-leaders-download-pdf-container-div{
    text-align: center;
    margin:20px;
}

.no-member-download-pdf{
    background-color: rgba(100, 150, 150, 0.8);
    font-family: 'Montserrat';
    color: beige;
    text-decoration: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border: solid 1px rgb(150, 200, 200);
}