.member-profile-page-title-upper-bar{
    font-family: 'Montserrat';
    text-align: center;
    background-color: rgb(255,255,255);
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 101%;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
    margin-left:-10px;
    margin-top:-10px;
}

.member-profile-showcase-div{
    margin: auto;
    width: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.member-profile-showcase-member-name{
    font-family: 'Montserrat';
    font-size: 40px;
    color: rgb(100, 100, 100);
    margin: 50px;
}

.member-profile-member-image-container-div{
    margin: auto;
    width: 100%;
    text-align: center;
}

.member-profile-profile-img-container{
    margin-right: 180px;
    margin-top: -80px;
}

.member-profile-profile-image{
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow:
        5px -5px 10px rgba(0, 0, 0, 0.2),   /* Top-left */
        -5px -5px 10px rgba(0, 0, 0, 0.2);  /* Top-right */
}

.member-profile-details-container-div{
    width: 100%;
}

#member-profile-detail-float-right{
    float: right;
    margin-right: 40px;
    margin-top: 25px;
}

#member-profile-detail-float-left{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.member-profile-detail{
    font-family: 'Montserrat';
    margin: 10px;
}

.member-profile-no-image-member-div{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 8px solid rgb(100, 140, 140);
    box-shadow:
        5px -5px 10px rgba(100, 100, 100, 0.5),
        -5px -5px 10px rgba(100, 100, 100, 0.5);
        background-color: rgb(200, 200, 200);
    font-size: 120px;
    color: rgb(100, 100, 100);
}

#member-profile-member-default-img{
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow:
        5px -5px 10px rgba(0, 0, 0, 0.2),   /* Top-left */
        -5px -5px 10px rgba(0, 0, 0, 0.2);  /* Top-right */
    background-color: rgb(200, 200, 200);
    border: 10px solid rgb(50, 100, 100);
    font-size: 100px;
    color: rgb(150, 150, 150);
    padding: 10px;
}

.member-profile-no-profile-img-container{
    margin-right: 140px;
    margin-top: -80px;
}

.member-profile-left-block-container-div{
    float: left;
}

.member-profile-qr-code-container-div{
    margin-top: 20px;
    margin-left: 80px;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(100, 150, 150);
    border-radius: 15px;
    margin-bottom: 50px;
}

.member-profile-member-qr-code-title-header{
    font-family: 'Montserrat';
    background-color: rgb(10, 40, 40);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: beige;
}

.member-profile-qr-code{
    height: 250px;
    width: 250px;
}

.member-profile-right-block-container-div{
    float: right;
}

.member-profile-member-affiliation-block-div{
    margin-right: 100px;
}

.member-profile-member-not-affiliated-heading-message-div{
    font-family: 'Impact';
    color: rgb(120, 20, 20);
    font-size: 20px;
}

.member-profile-leaders-brgy-message-div{
    background-color: rgb(10, 40, 40);
    color: beige;
    font-family: 'Montserrat';
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.member-profile-unaffiliated-member-leaders{
    height: 250px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.member-profile-unaffiliated-member-leader{
    font-family: 'Montserrat';
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    width: 94%;
    height: 70px;
    border-radius: 10px;
}

.member-profile-unaffiliated-member-leader-profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    float: left;
}

#member-profile-unaffiliated-member-leader-default-profile-img{
    margin-top: 8px;
    margin-left: 12px;
    font-size: 30px;
    color: rgb(150, 150, 150);
}

.member-profile-leader-no-img-container-span{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(100, 100, 100);
    margin: 10px;
    float: left;
}

.member-profile-unaffiliated-member-leader-name-div{
    margin-top: 25px;
    float: left;
}

.member-profile-assign-member-to-leader-btn-container-div{
    float: right;
    margin-right: 20px;
    margin-top: 27px;
}

.member-profile-member-associated-leader-container-div{
    font-family: 'Montserrat';
}

.member-profile-associated-member-header-title{
    font-size: 40px;
    color: rgb(100, 100, 100);
    text-align: center;
    margin: 20px;
}

.member-profile-member-associated-leader-container{
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.member-profile-member-associated-leader-profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.member-profile-edit-member-data-form-container-div{
    width: 250px;
    position: fixed;
    z-index: 20;
    top: -500px;
    right: 0;
    transition: 1s all ease;
    font-family: 'Montserrat';
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(255,255,255);
}

.member-profile-edit-member-data-form-container-div-show{
    top: 0px;
}

.member-profile-edit-form-container{
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(255,255,255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 20;
}

.member-profile-edit-detail-form-header{
    background-color: rgb(10, 40, 40);
    color:beige;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.member-profile-edit-member-data-btn-container{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.member-profile-edit-detail-toggle-btn{
    float: right;
    color: rgb(100, 100, 100);
    margin-right: 20px;
    cursor: pointer;
}

.member-profile-hide-edit-form-btn{
    float: right;
    color: beige;
    margin-right: 10px;
    cursor: pointer;
}

/* derived from member_profile.css not member-profile.css there's a difference */

.member-profile-details-div{
    float: left;
}

.member-details-member-id-div{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    float: right;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.qr-code-member-profile{
    float: left;
}

.member-details-member-id{
    margin-top: 20px;
    float: right;
}

.member-profile-logout-span{
    float: left;
    margin-left: 20px;
}

.member-link-to-page{
    text-decoration: none;
    color: rgb(70, 70, 70);
    font-weight: 800;
}




.member-profile-leader-connect-request-table{
    border-collapse: collapse;
}

.member-profile-leader-connect-request-table-head{
    background-color: rgb(100, 140, 140);
    color: beige;
    font-family: 'Montserrat';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.member-profile-leader-connect-request-table-data{
    background-color: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
    font-family: 'Montserrat';
    padding: 10px;
}

.member-profile-connect-btn{
    font-weight: 800;
    text-decoration: none;
    color: rgb(50, 50, 50);
}
.member-profile-connect-btn:hover{
    text-decoration: underline;
}

.member-profile-member-request-connect-leader-profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member-profile-response-btn{
    background: none;
    border:none;
    font-family: "Montserrat";
    font-weight: 800;
    cursor: pointer;
}
