<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load humanize %}
    <meta charset="UTF-8">
    <title>Member Management</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'member_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'add-brgy.css' %}">
    <link rel="stylesheet" href="{% static 'add-leader.css' %}">
    <link rel="stylesheet" href="{% static 'add-member.css' %}">
    <link rel="stylesheet" href="{% static 'reports.css' %}">
    <link rel="stylesheet" href="{% static 'brgy-profile.css' %}">
    <link rel="stylesheet" href="{% static 'no-member-brgy.css' %}">
    <link rel="stylesheet" href="{% static 'leader-no-members.css' %}">
    <link rel="stylesheet" href="{% static 'leaderless-members.css' %}">
    <link rel="stylesheet" href="{% static 'member-count-per-brgy.css' %}">
    <link rel="stylesheet" href="{% static 'cluster.css' %}">
    <link rel="stylesheet" href="{% static 'leader-profile.css' %}">
    <link rel="stylesheet" href="{% static 'member-profile.css' %}">
    <link rel="stylesheet" href="{% static 'registrants.css' %}">
    <link rel="stylesheet" href="{% static 'all-members-report.css' %}">
    <link rel="stylesheet" href="{% static 'members-per-brgy-report.css' %}">
    <link rel="stylesheet" href="{% static 'leader-members-report.css' %}">
    <link rel="stylesheet" href="{% static 'members-report.css' %}">
    <link rel="stylesheet" href="{% static 'leaders-report.css' %}">
    <link rel="stylesheet" href="{% static 'sitio-profile.css' %}">
    <link rel="stylesheet" href="{% static 'attendance-list.css' %}">
    <link rel="stylesheet" href="{% static 'sitio-report.css' %}">
    <link rel="stylesheet" href="{% static 'ambiguous_voters.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <!-- Add this to include Swiper.js -->
    <!--    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>-->
    <script src="{% static 'jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'chart.js' %}"></script>
    <script src="{% static 'swiper-bundle.min.js' %}"></script>
    <script src="{% static 'htmx.js' %}"></script>
</head>
<body class="base-template-utmost-body">
    <header id="main-header">
        <div class="home-page-authenticated-user">
            <div class="home-page-authenticated-user-element-container">
                <div class="home-page-authenticated-user-image-container">
                    {% if logged_user.image %}
                        <img class="home-page-authenticated-user-profile-image"
                             src="{{ logged_user.image.url }}">
                    {% else %}
                        <div>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="home-page-authenticated-user-element-container">
                <div class="home-page-authenticated-user-name">
                    {{ request.user }}
                </div>
            </div>
        </div>
        <div style="padding: 0.5px;
                    background-color: rgba(150, 150, 150, 0.5);
                    margin: auto;
                    width: 60%;
                    margin-top: 10px;
                    margin-bottom: 10px;">
        </div>
        <ul class="home-header-nav-links">
            {% if request.user.is_authenticated %}
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'homepage' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fa fa-home"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Home
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'dashboard' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fa fa-line-chart"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Dashboard
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'clusters' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Clusters
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'add-brgy' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fas fa-dharmachakra" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Add Barangay
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Commented 2/11/2024 for V.2 -->
<!--                <li class="home-header-nav-link">-->
<!--                    <a class="home-link-to-page" href="{% url 'add-leader' %}">-->
<!--                        <div class="home-link-icon-container">-->
<!--                           <div class="home-link-icon-div">-->
<!--                               <i class="fas fa-user-tie" aria-hidden="true"></i>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                        <div class="home-link-icon-container">-->
<!--                            <div class="home-link-name">-->
<!--                                Add Leader-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'registrants' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fas fa-user-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Registrants
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'reports' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Reports
                            </div>
                        </div>
                    </a>
                </li>
                <li class="home-header-nav-link">
                    <div class="main-header-link-container-div" id="notification-toggle">
                        <div class="notification-counter-div">
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Notification
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="notification-list" id="notification-list">
                        {% for notification in notifications %}
                            <div class="notification">
                                <div class="notification-title">
                                    {{ notification.title }}
                                </div>
                                <div class="notification-date-time">
                                    {{ notification.date_time | naturaltime }}
                                </div>
                                <div class="notification-message">
                                    {{ notification.message }}
                                </div>
                                <div class="notification-delete-div">
                                    <a class="notification-delete"
                                       href="{% url 'delete-notification' notification.title notification.id %}">
                                        Remove Notification
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <div class="notification-empty-notifier">
                                No Notification
                            </div>
                        {% endfor %}
                    </div>
                </li>
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'logout' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Logout
                            </div>
                        </div>
                    </a>
                </li>
            {% else %}
                <li class="home-header-nav-link">
                    <a class="home-link-to-page" href="{% url 'login' %}">
                        <div class="home-link-icon-container">
                            <div class="home-link-icon-div">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="home-link-icon-container">
                            <div class="home-link-name">
                                Login
                            </div>
                        </div>
                    </a>
                </li>
            {% endif %}
        </ul>
    </header>
    <section class="base-block-content-section-container">
        {% block content %}
            <div class="home-base-utmost-container-div">
                <div class="home-base-search-engine-container-div">
                    <form class="home-base-search-engine-form" method="GET" action="{% url 'homepage' %}">
                        <span class="home-search-engine-lens-icon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input id="home-base-search-field-members" type="text" name="search" placeholder="Search Members">
                        <button id="home-base-search-field-members-btn" type="submit">Search</button>
                    </form>
                </div>
                {% if search_engine_field_query %}
                    {% if not total_results == 0 %}
                        <div class="home-base-search-results-container-div">
                            <div class="home-base-search-statistics-div">
                                {% if not total_results == 1 %}
                                    About {{ total_results }} results for "{{ search_engine_field_query }}"
                                {% else %}
                                    About {{ total_results }} result for "{{ search_engine_field_query }}"
                                {% endif %}
                            </div>
                            <div class="home-base-results-div">
                                <div class="home-base-search-results-member-container-div">
                                    {% for member in search_engine_result_member %}
                                        <div class="home-base-member-name-result">
                                            <a class="home-base-member-result-link"
                                               href="{% url 'member-profile' member.name member.id %}">
                                                {{ member.name }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="home-base-search-results-leader-container-div">
                                    {% for leader in search_engine_result_leader %}
                                        <div class="home-base-member-name-result">
                                            <a class="home-base-member-result-link"
                                               href="{% url 'cluster' leader.name leader.user %}">
                                                {{ leader.name }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="home-base-search-results-container-div">
                            <div class="home-base-no-result-container-container-div">
                                <div class="home-base-empty-cloud-icon-div">
                                    <i class="fa fa-cloud" aria-hidden="true"></i>
                                </div>
                                <div class="home-base-empty-message-container-div">
                                    No Search Results for "{{ search_engine_field_query }}"
                                </div>
                                <div class="home-base-empty-result-suggestion-div">
                                    <div>
                                        Suggestions
                                    </div>
                                    <ul>
                                        <li>Search using Barangay name for broad results</li>
                                        <li>Make sure all words are spelled correctly.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                <div class="home-activity-log-container-div">
                    <div class="home-activity-log-title-header">
                        Activity Log
                    </div>
                    <table class="home-activity-log-table">
                        <tr class="home-activity-log-table-row">
                            <th class="home-activity-log-table-head">
                                Activity
                            </th>
                            <th class="home-activity-log-table-head">
                                Time
                            </th>
                        </tr>
                        {% for activity in activities %}
                            <tr class="home-activity-log-table-row">
                                <td class="home-activity-log-table-data" id="activity-log-activity">
                                    {{ activity.title }}
                                </td>
                                <td class="home-activity-log-table-data" id="activity-log-date">
                                    {{ activity.date_time}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        {% endblock %}
    </section>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            const notificationToggle = document.querySelector('#notification-toggle');
            const notificationList = document.querySelector('.notification-list');

            notificationToggle.addEventListener('click', () =>{
                notificationList.classList.toggle('notification-list-show');
                console.log('works');

                fetch('/seen-notifications/')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Notifications marked as seen:', data);
                        // You can perform additional actions based on the response if needed
                    })
                    .catch(error => console.error('Error marking notifications as seen:', error));
                    });
        });

        $(document).on('click', '.notification-delete', function() {
            // Get notification details from the data attributes
            var title = $(this).data('title');
            var id = $(this).data('id');
            var deleteUrl = '/delete-notification/' + title + '/' + id + '/';

            // Make an AJAX request to remove the notification
            $.ajax({
                url: deleteUrl,
                type: 'POST',
                data: {title: title, id: id, csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() },
                dataType: 'json',
                success: function(response) {
                    console.log(response.message);
                    // Remove the notification from the UI if removal is successful
                    $(this).closest('.notification').remove();
                },
                error: function(error) {
                    console.error('Failed to remove notification', error);
                }
            });
        });

        setInterval(function() {
            $.ajax({
                url: '{% url "notifications" %}',
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    var expiredProducts = response.expired_products;
                    var expiringProducts = response.expiring_products;
                    var notifications = response.notification;
                    $('.notification-counter-div').empty();

                    $('#notification-list').empty();

                    if (notifications.length === 0) {
                        var emptyNotifier =
                        `
                            <div class="notification-empty-notifier">
                                No Notification
                            </div>
                        `;
                        $('#notification-list').html(emptyNotifier);
                    } else {
                        for (var i = 0; i < notifications.length; i++) {
                            var notification = notifications[i];
                            var notificationCounter =
                            `
                                <div class="notification-counter">
                                    ${notification.unseen}
                                </div>
                            `;
                            var notificationHtml =
                            `
                                <div class="notification">
                                    <div class="notification-title">
                                        ${notification.title}
                                    </div>
                                    <div class="notification-date-time">
                                        ${notification.time}
                                    </div>
                                    <div class="notification-message">
                                        ${notification.message}
                                    </div>
                                    <div class="notification-delete-div">
                                        <a class="notification-delete" data-title="${notification.title}" data-id="${notification.id}">
                                            Remove Notification
                                        </a>
                                    </div>
                                </div>
                            `;
                            if (notification.unseen !== null) {
                                $('.notification-counter-div').append(notificationCounter)
                            } else {
                                $('.notification-counter-div').empty();
                            };
                            $('#notification-list').append(notificationHtml);
                        }
                    }
                }
            });
        }, 1000);
    </script>
</body>
</html>