<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'change-password.css' %}">
</head>
<body>
    <section class="change-password-utmost-container-section">
        <div class="change-password-title-heading-div">
            <h1>Change Password</h1>
        </div>
        <div class="change-password-form-container-div">
            {% if messages %}
                {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.password1 }}
                </div>
                <div>
                    {{ form.password2 }}
                </div>
                <div>
                    <button class="change-password-btn" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>