<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'forgot-password.css' %}">
</head>
<body>
    <section class="forgot-password-utmost-container-section">
        <div class="forgot-password-title-heading-div">
            <h1>Enter Your Email</h1>
        </div>
        <div class="forgot-password-form-container-div">
            {% if messages %}
                {% for message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.email }}
                </div>
                <button class="forgot-password-send-email-btn" type="submit">Submit</button>
            </form>
        </div>
    </section>
</body>
</html>