<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        Hello, {{ name }}
    </div>
    <div>
        username: {{ username }}
    </div>
    <div>
        This is your token for changing password
    </div>
    <div>
        Token:
    </div>
    <div>
        {{ token }}
    </div>
    <a href="http://127.0.0.1:8000{% url 'enter-token' email %}">Change Password</a>
    <!--    <a href="http://127.0.0.1:8000{% url 'change-password' email token %}">Change Password</a>-->
</body>
</html>