{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="leaderless-members-utmost-container-section">
        <div class="leaderless-members-header-title-div">
            Leaderless Members Report
        </div>
        <div class="leaderless-members-download-pdf-container-div">
            <a class="leaderless-members-download-pdf" href="{% url 'leaderless-members-pdf' %}">Download PDF</a>
        </div>
        <div class="leaderless-members-table-container-div">
            <table class="leaderless-members-table">
                <tr class="leaderless-members-table-row">
                    <th class="leader-members-table-head">
                        Member Name
                    </th>
                    <th class="leader-members-table-head">
                        Member Barangay
                    </th>
                </tr>
<!--                {{ cluster_members_filter }}-->
                {% for members, brgy in leaderless.items %}
                    <tr>
                        <td class="leaderless-members-table-data">
                            <a class="leaderless-members-table-link-to-page"
                               href="{% url 'member-profile' members members.id %}">{{ members }}</a>
                        </td>
                        <td class="leaderless-members-table-data">
                            <a href="{% url 'member-brgy' brgy %}"
                               class="leaderless-members-table-link-to-page">{{ brgy }}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="leaderless-members-table-data" colspan="2">
                            All Members are Associated with a Leader
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}
