{% extends 'base.html' %}

{% load static %}

{% block content %}
    {{ leader.name }}
    <form method="post">
        {% csrf_token %}
        <div>
            {{ member_registration_form.as_p }}
        </div>
        <button type="submit">Submit</button>
    </form>
    <div class="qr-code-member-profile">
        <img src="{% static 'images/qr-codes/' %}QR-Code-{{ leader.name }}-{{ leader.brgy }}-{{ leader.id }}.png">
    </div>
    <div>
        <h1>Members</h1>
    </div>
    <div>
        {% for member in members.members.all %}
            <div>
                <a href="{% url 'member-profile' member.name %}">{{ member.name }}</a>
            </div>
        {% empty %}
            No Members
        {% endfor %}
    </div>
{% endblock %}