{% for year, parties in mayoral_election_dict.items %}

    <span id="mayoral-htmx-request-span-{{ year }}">
        <button type="button"
                hx-post="{% url 'htmx-mayoral-rank-input' %}"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-select="#mayoral-htmx-request-span-{{ year }}"
                hx-target="#mayoral-htmx-request-span-{{ year }}"
        >
            Add New Rank
        </button>
        <select name="mayoral-contender-rank">
            {% for rank in mayoral_ranks %}
            <option value="{{ rank }}">{{ rank }}</option>
            {% endfor %}
        </select>
    </span>

{% endfor %}
